*{
    font-family: Arial, Helvetica, sans-serif;
}
html {background-color: #293563 }
h1{
    font-family: kanit;
}
.kanit{ font-family: kanit;}
#titleheader{
    font-size: 75px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.btn-outline-VDblue {
    color: #1d1b2e;
    border-color: #1d1b2e; }
    .btn-outline-VDblue:hover {
      color: #fff;
      background-color: #1d1b2e;
      border-color: #1d1b2e; }
    .btn-check:focus + .btn-outline-VDblue, .btn-outline-VDblue:focus {
      box-shadow: 0 0 0 0.25rem rgba(29, 27, 46, 0.5); }
    .btn-check:checked + .btn-outline-VDblue, .btn-check:active + .btn-outline-VDblue, .btn-outline-VDblue:active, .btn-outline-VDblue.active, .btn-outline-VDblue.dropdown-toggle.show {
      color: #fff;
      background-color: #1d1b2e;
      border-color: #1d1b2e; }
      .btn-check:checked + .btn-outline-VDblue:focus, .btn-check:active + .btn-outline-VDblue:focus, .btn-outline-VDblue:active:focus, .btn-outline-VDblue.active:focus, .btn-outline-VDblue.dropdown-toggle.show:focus {
        box-shadow: 0 0 0 0.25rem rgba(29, 27, 46, 0.5); }
    .btn-outline-VDblue:disabled, .btn-outline-VDblue.disabled {
      color: #1d1b2e;
      background-color: transparent; }
  
  .table-VDblue {
    --bs-table-bg: #1d1b2e;
    --bs-table-striped-bg: #282638;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #343243;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #2e2c3e;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #343243; }
  
  .alert-VDblue {
    color: #11101c;
    background-color: #d2d1d5;
    border-color: #bbbbc0; }
    .alert-VDblue .alert-link {
      color: #0e0d16; }
  
  .bg-VDblue {
    background-color: #1d1b2e !important; }
  
  .text-VDblue {
    color: #1d1b2e !important; }
  
  .border-VDblue {
    border-color: #1d1b2e !important; }
  
  .link-VDblue {
    color: #1d1b2e; }
    .link-VDblue:hover, .link-VDblue:focus {
      color: #171625; }
  
  .list-group-item-VDblue {
    color: #11101c;
    background-color: #d2d1d5; }
    .list-group-item-VDblue.list-group-item-action:hover, .list-group-item-VDblue.list-group-item-action:focus {
      color: #11101c;
      background-color: #bdbcc0; }
    .list-group-item-VDblue.list-group-item-action.active {
      color: #fff;
      background-color: #11101c;
      border-color: #11101c; }
  
  /*# sourceMappingURL=style-2023-03-17-00-29-53-626.css.map */
  .btn-VDblue {
    color: #ffffff;
    background-color: #1d1b2e;
    border-color: #1d1b2e; }
    .btn-VDblue:hover {
      color: #ffffff;
      background-color: #191727;
      border-color: #171625; }
    .btn-check:focus + .btn-VDblue, .btn-VDblue:focus {
      color: #ffffff;
      background-color: #191727;
      border-color: #171625;
      box-shadow: 0 0 0 0.25rem rgba(63, 61, 77, 0.5); }
    .btn-check:checked + .btn-VDblue, .btn-check:active + .btn-VDblue, .btn-VDblue:active, .btn-VDblue.active, .show > .btn-VDblue.dropdown-toggle {
      color: #ffffff;
      background-color: #171625;
      border-color: #161423; }
      .btn-check:checked + .btn-VDblue:focus, .btn-check:active + .btn-VDblue:focus, .btn-VDblue:active:focus, .btn-VDblue.active:focus, .show > .btn-VDblue.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.25rem rgba(63, 61, 77, 0.5); }
    .btn-VDblue:disabled, .btn-VDblue.disabled {
      color: #ffffff;
      background-color: #1d1b2e;
      border-color: #1d1b2e; }

      .btn-outline-PDblue {
        color: #293563;
        border-color: #293563; }
        .btn-outline-PDblue:hover {
          color: #fff;
          background-color: #293563;
          border-color: #293563; }
        .btn-check:focus + .btn-outline-PDblue, .btn-outline-PDblue:focus {
          box-shadow: 0 0 0 0.25rem rgba(41, 53, 99, 0.5); }
        .btn-check:checked + .btn-outline-PDblue, .btn-check:active + .btn-outline-PDblue, .btn-outline-PDblue:active, .btn-outline-PDblue.active, .btn-outline-PDblue.dropdown-toggle.show {
          color: #fff;
          background-color: #293563;
          border-color: #293563; }
          .btn-check:checked + .btn-outline-PDblue:focus, .btn-check:active + .btn-outline-PDblue:focus, .btn-outline-PDblue:active:focus, .btn-outline-PDblue.active:focus, .btn-outline-PDblue.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(41, 53, 99, 0.5); }
        .btn-outline-PDblue:disabled, .btn-outline-PDblue.disabled {
          color: #293563;
          background-color: transparent; }
      
      .table-PDblue {
        --bs-table-bg: #293563;
        --bs-table-striped-bg: #343f6b;
        --bs-table-striped-color: #fff;
        --bs-table-active-bg: #3e4973;
        --bs-table-active-color: #fff;
        --bs-table-hover-bg: #39446f;
        --bs-table-hover-color: #fff;
        color: #fff;
        border-color: #3e4973; }
      
      .alert-PDblue {
        color: #19203b;
        background-color: #d4d7e0;
        border-color: #bfc2d0; }
        .alert-PDblue .alert-link {
          color: #141a2f; }
      
      .bg-PDblue {
        background-color: #293563 !important; }
      
      .text-PDblue {
        color: #293563 !important; }
      
      .border-PDblue {
        border-color: #293563 !important; }
      
      .link-PDblue {
        color: #293563; }
        .link-PDblue:hover, .link-PDblue:focus {
          color: #212a4f; }
      
      .list-group-item-PDblue {
        color: #19203b;
        background-color: #d4d7e0; }
        .list-group-item-PDblue.list-group-item-action:hover, .list-group-item-PDblue.list-group-item-action:focus {
          color: #19203b;
          background-color: #bfc2ca; }
        .list-group-item-PDblue.list-group-item-action.active {
          color: #fff;
          background-color: #19203b;
          border-color: #19203b; }
      
      /*# sourceMappingURL=style-2023-03-17-00-34-51-646.css.map */
      .btn-PDblue {
        color: #ffffff;
        background-color: #293563;
        border-color: #293563; }
        .btn-PDblue:hover {
          color: #ffffff;
          background-color: #232d54;
          border-color: #212a4f; }
        .btn-check:focus + .btn-PDblue, .btn-PDblue:focus {
          color: #ffffff;
          background-color: #232d54;
          border-color: #212a4f;
          box-shadow: 0 0 0 0.25rem rgba(73, 83, 122, 0.5); }
        .btn-check:checked + .btn-PDblue, .btn-check:active + .btn-PDblue, .btn-PDblue:active, .btn-PDblue.active, .show > .btn-PDblue.dropdown-toggle {
          color: #ffffff;
          background-color: #212a4f;
          border-color: #1f284a; }
          .btn-check:checked + .btn-PDblue:focus, .btn-check:active + .btn-PDblue:focus, .btn-PDblue:active:focus, .btn-PDblue.active:focus, .show > .btn-PDblue.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(73, 83, 122, 0.5); }
        .btn-PDblue:disabled, .btn-PDblue.disabled {
          color: #ffffff;
          background-color: #293563;
          border-color: #293563; }

          .btn-outline-Antiblue {
            color: #aee6dc;
            border-color: #aee6dc; }
            .btn-outline-Antiblue:hover {
              color: #000;
              background-color: #aee6dc;
              border-color: #aee6dc; }
            .btn-check:focus + .btn-outline-Antiblue, .btn-outline-Antiblue:focus {
              box-shadow: 0 0 0 0.25rem rgba(174, 230, 220, 0.5); }
            .btn-check:checked + .btn-outline-Antiblue, .btn-check:active + .btn-outline-Antiblue, .btn-outline-Antiblue:active, .btn-outline-Antiblue.active, .btn-outline-Antiblue.dropdown-toggle.show {
              color: #000;
              background-color: #aee6dc;
              border-color: #aee6dc; }
              .btn-check:checked + .btn-outline-Antiblue:focus, .btn-check:active + .btn-outline-Antiblue:focus, .btn-outline-Antiblue:active:focus, .btn-outline-Antiblue.active:focus, .btn-outline-Antiblue.dropdown-toggle.show:focus {
                box-shadow: 0 0 0 0.25rem rgba(174, 230, 220, 0.5); }
            .btn-outline-Antiblue:disabled, .btn-outline-Antiblue.disabled {
              color: #aee6dc;
              background-color: transparent; }
          
          .table-Antiblue {
            --bs-table-bg: #aee6dc;
            --bs-table-striped-bg: #a5dbd1;
            --bs-table-striped-color: #000;
            --bs-table-active-bg: #9dcfc6;
            --bs-table-active-color: #000;
            --bs-table-hover-bg: #a1d5cc;
            --bs-table-hover-color: #000;
            color: #000;
            border-color: #9dcfc6; }
          
          .alert-Antiblue {
            color: #465c58;
            background-color: #effaf8;
            border-color: #e7f8f5; }
            .alert-Antiblue .alert-link {
              color: #384a46; }
          
          .bg-Antiblue {
            background-color: #aee6dc !important; }
          
          .text-Antiblue {
            color: #aee6dc !important; }
          
          .border-Antiblue {
            border-color: #aee6dc !important; }
          
          .link-Antiblue {
            color: #aee6dc; }
            .link-Antiblue:hover, .link-Antiblue:focus {
              color: #beebe3; }
          
          .list-group-item-Antiblue {
            color: #465c58;
            background-color: #effaf8; }
            .list-group-item-Antiblue.list-group-item-action:hover, .list-group-item-Antiblue.list-group-item-action:focus {
              color: #465c58;
              background-color: #d7e1df; }
            .list-group-item-Antiblue.list-group-item-action.active {
              color: #fff;
              background-color: #465c58;
              border-color: #465c58; }
          
          /*# sourceMappingURL=style-2023-03-17-01-38-49-525.css.map */
          .btn-Antiblue {
            color: #40B892;
            background-color: #aee6dc;
            border-color: #aee6dc; }
            .btn-Antiblue:hover {
              color: #40B892;
              background-color: #baeae1;
              border-color: #b6e9e0; }
            .btn-check:focus + .btn-Antiblue, .btn-Antiblue:focus {
              color: #40B892;
              background-color: #baeae1;
              border-color: #b6e9e0;
              box-shadow: 0 0 0 0.25rem rgba(148, 196, 187, 0.5); }
            .btn-check:checked + .btn-Antiblue, .btn-check:active + .btn-Antiblue, .btn-Antiblue:active, .btn-Antiblue.active, .show > .btn-Antiblue.dropdown-toggle {
              color: #40B892;
              background-color: #beebe3;
              border-color: #b6e9e0; }
              .btn-check:checked + .btn-Antiblue:focus, .btn-check:active + .btn-Antiblue:focus, .btn-Antiblue:active:focus, .btn-Antiblue.active:focus, .show > .btn-Antiblue.dropdown-toggle:focus {
                box-shadow: 0 0 0 0.25rem rgba(148, 196, 187, 0.5); }
            .btn-Antiblue:disabled, .btn-Antiblue.disabled {
              color: #40B892;
              background-color: #aee6dc;
              border-color: #aee6dc; }

              .btn-outline-ultrajade {
                color: #1cb886;
                border-color: #1cb886; }
                .btn-outline-ultrajade:hover {
                  color: #000;
                  background-color: #1cb886;
                  border-color: #1cb886; }
                .btn-check:focus + .btn-outline-ultrajade, .btn-outline-ultrajade:focus {
                  box-shadow: 0 0 0 0.25rem rgba(28, 184, 134, 0.5); }
                .btn-check:checked + .btn-outline-ultrajade, .btn-check:active + .btn-outline-ultrajade, .btn-outline-ultrajade:active, .btn-outline-ultrajade.active, .btn-outline-ultrajade.dropdown-toggle.show {
                  color: #000;
                  background-color: #1cb886;
                  border-color: #1cb886; }
                  .btn-check:checked + .btn-outline-ultrajade:focus, .btn-check:active + .btn-outline-ultrajade:focus, .btn-outline-ultrajade:active:focus, .btn-outline-ultrajade.active:focus, .btn-outline-ultrajade.dropdown-toggle.show:focus {
                    box-shadow: 0 0 0 0.25rem rgba(28, 184, 134, 0.5); }
                .btn-outline-ultrajade:disabled, .btn-outline-ultrajade.disabled {
                  color: #1cb886;
                  background-color: transparent; }
              
              .table-ultrajade {
                --bs-table-bg: #1cb886;
                --bs-table-striped-bg: #1baf7f;
                --bs-table-striped-color: #000;
                --bs-table-active-bg: #19a679;
                --bs-table-active-color: #000;
                --bs-table-hover-bg: #1aaa7c;
                --bs-table-hover-color: #000;
                color: #000;
                border-color: #19a679; }
              
              .alert-ultrajade {
                color: #116e50;
                background-color: #d2f1e7;
                border-color: #bbeadb; }
                .alert-ultrajade .alert-link {
                  color: #0e5840; }
              
              .bg-ultrajade {
                background-color: #1cb886 !important; }
              
              .text-ultrajade {
                color: #1cb886 !important; }
              
              .border-ultrajade {
                border-color: #1cb886 !important; }
              
              .link-ultrajade {
                color: #1cb886; }
                .link-ultrajade:hover, .link-ultrajade:focus {
                  color: #49c69e; }
              
              .list-group-item-ultrajade {
                color: #116e50;
                background-color: #d2f1e7; }
                .list-group-item-ultrajade.list-group-item-action:hover, .list-group-item-ultrajade.list-group-item-action:focus {
                  color: #116e50;
                  background-color: #bdd9d0; }
                .list-group-item-ultrajade.list-group-item-action.active {
                  color: #fff;
                  background-color: #116e50;
                  border-color: #116e50; }
              
              /*# sourceMappingURL=style-2023-03-17-01-46-02-515.css.map */
              .btn-ultrajade {
                color: #FFFFFF;
                background-color: #1cb886;
                border-color: #1cb886; }
                .btn-ultrajade:hover {
                  color: #FFFFFF;
                  background-color: #3ec398;
                  border-color: #33bf92; }
                .btn-check:focus + .btn-ultrajade, .btn-ultrajade:focus {
                  color: #FFFFFF;
                  background-color: #3ec398;
                  border-color: #33bf92;
                  box-shadow: 0 0 0 0.25rem rgba(24, 156, 114, 0.5); }
                .btn-check:checked + .btn-ultrajade, .btn-check:active + .btn-ultrajade, .btn-ultrajade:active, .btn-ultrajade.active, .show > .btn-ultrajade.dropdown-toggle {
                  color: #FFFFFF;
                  background-color: #49c69e;
                  border-color: #33bf92; }
                  .btn-check:checked + .btn-ultrajade:focus, .btn-check:active + .btn-ultrajade:focus, .btn-ultrajade:active:focus, .btn-ultrajade.active:focus, .show > .btn-ultrajade.dropdown-toggle:focus {
                    box-shadow: 0 0 0 0.25rem rgba(24, 156, 114, 0.5); }
                .btn-ultrajade:disabled, .btn-ultrajade.disabled {
                  color: #FFFFFF;
                  background-color: #1cb886;
                  border-color: #1cb886; }

          .bg-NAVjade {
            background-color: #63b6a1 !important; }